

.contact_us
{

    text-align: center;

    margin-left: auto;
    margin-right: auto;

    font-size: 7vmin;


    padding-top: 5vmin;
}

.contact-form
{
    color:var(--activated);


    margin-top: 5%;

    width: 100%;
    padding-bottom: 3%;
}

.input-section
{
    width: 100%;
   /* border: 1px solid wheat;*/ 


   margin-bottom: 5vh;
  
} 

.contact-label
{
    margin-left: auto;
   margin-right: auto;

    text-align: center;
    display: block;
    
    font-size: 6.5vmin;
    font-family: var(--title_font);
 


    margin-bottom: 1.8vmin;

    margin-top: 1.8vmin;
}

 

.contact-input
{
    margin-left: auto;
    margin-right: auto;
}


 


fieldset
{
    border: 0; 
    
    width: 100%;

    margin-bottom: 5vmin;
}

.set-title
{
    display: block;
    font-family: var(--title_font);
    margin-top: 1vh;
}


.contact-text
{

    display: block;
    background-color: var(--darkish) ;
    
    font-family: var(--title_font);

    width: 60vmin;
    height: 6vmin;

    color: var(--white);
    font-weight: bolder; 
    border: 1.5px solid var(--slightmark);
    transition: 0.2s;
    
    font-size: 2.8vmin;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: var(--special);
 
}

.contact-text-box
{
    font-size: 3.6vmin;

    max-width: 50vw;
    max-height: 50vh;
    

}
 
.radios-fieldset
{ 

    margin-left: 0%;
    
    transition: 1s;
    
    accent-color: var(--darkish); 

    font-size: 4vmin;

  
    
}

 
 
.radios-fieldset input
{
    width: 4vmin;
    height: 4vmin;
    
}



.contact-select
{  
    background: var(--secundary);
    color: var(--activated);
    
    font-family: var(--common_font);

    outline: none;

    margin-left: 0;

    width:20vw;
    text-align: center;
    font-size: 4vmin;
    font-weight: bold;

    margin-bottom: 4vh;
}



.contact-select option
{
    
    background: var(--secundary);
    color: var(--activated);
    font-family: var(--normal_font);

}    


/* aqui eu colocaria a estilização da seleção em que o mouse estivesse em :hover, mas não 
parece ter como fazer isso? :( */


.contact-check
{
    margin-left: 0vw;
    width: 2.5vmin;
    height: 2.5vmin;
    
    accent-color: var(--darkish);

    transition: 1s;
}


.how-contact-label
{
    margin-top: 6vmin;
}
 
.news-label
{
    font-size: 3vmin;
}

/*  removendo aparência padrão do autofill   */


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--darkish) inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--white) !important;
}

.contact-text:focus
{
    
    transform: scale(1.1);
   outline: 2px solid var(--mark);
}


::placeholder
{
    color: rgb(177, 177, 151);
    opacity: 0.6;
    -webkit-text-stroke-width: 0px;
    text-align: center;
}

.contact-send
{
 
    font-size: 8vmin;
    display: block;
    width: 30vw;

    padding-top: 1vh;
    padding-bottom: 1vh;
    
    font-family: var(--normal_font);
    font-weight: bold;

    background: var(--dark-gradient);
    color: var(--main);

    text-transform: uppercase ;
 
    margin-left: 25vw;

    margin-top: 3%;

    margin-bottom: 3%;

    /*border: 2px solid var(--main);
*/
border: 0;
    border-radius: 10px;

    transition: 0.8s ease-in-out;


    cursor:pointer;
}

.contact-send:hover
{
    
    color: var(--special);
    background-color: var(--secundary);

    transform: scale(1.5)  rotate(360deg);
}


table
{

    font-size: 7vmin;
    padding-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

    margin-top: 5vh;

    font-family: var(--common_font);
}

table tr, table td,table th
{
     border: 1.5px solid rgb(77, 53, 27); 
    
     padding:3px;

     text-align: center;

}

table td
{
    
     background: var(--dark-gradient);
    color: var(--slightmark);
}

table thead
{
    background-color: var(--dark);
    color: var(--mark);
}

main { 
    width: 80vw  !important; 
    margin: 0 auto;

    background-color: rgb(24, 24, 32) !important;

    border: 1px solid var(--darkish);
    border-radius: 4em;
 
}