

.contact_us
{

    text-align: center;

}

.contact-form
{
    color:var(--activated);

    margin-left: 25%;

    margin-top: 5%;


    padding-bottom: 3%;
}

.input-section
{
    width: 63%;
   /* border: 1px solid wheat;*/ 

    align-items: center;

    justify-content: center;



}


/* remove ackground-color going white after google autofills with content */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
     transition-delay: 1000s;
}

.contact-label
{
    margin-left: auto;

    text-align: center;
    display: block;
    
    font-size: 4vmin;
    font-family: var(--font);
    margin-right: auto;
}

.contact-text
{

    display: block;
    background-color: var(--darkish) ;
    
    color: var(--white);
    margin-right: auto;
    border: 1.5px solid var(--slightmark);
    transition: 0.2s;
    
    width: 40vmin;
    height: 3.5vmin;

    margin-left: auto;
}

.contact-text:focus
{
    
   outline: 2px solid var(--mark);
}


.contact-send
{

    font-size: 8vmin;
    display: block;

    font-family: var(--font);

    font-weight: bold;

    background-color: var(--darkish);

    color: var(--activated);

    text-transform: uppercase ;

    margin-left: auto;
    margin-right: auto;

    margin-top: 3%;

    margin-bottom: 3%;

    border: 2px solid var(--main);

    border-radius: 10px;

    transition: 0.4s;
}

.contact-send:hover
{
    
    color: var(--special);

}