 

.items
{ 
}

.items li
{

    transform: scale(0.8);
    display: inline-block;
    width: 30%;

    vertical-align: top;
    margin: 20vh auto 1.5% 1.5%;
    background-color:unset;

    text-align: center;

    padding-left: 1vw;

    padding-right: 1vw;
    
    font-size: 10vw;

    box-sizing: border-box;
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(78, 51, 0);
 
    border:  2px solid var(--deactivated);

    /*border-top: 0px;
    border-bottom: 0px;
    
    border-left: 0px;*/
    border-right: 0vw; 
    border-left: 4px solid #7c4d0b;

    transition: 1s;
    border-radius: 40px; 
}

 

.items li:hover
{
    border-color: var(--activated   );
    
}

.items li:hover .product_option
{
    color: var(--activated);
}

.items li:hover .pricing
{ 
}


.product_option
{
    font-size: 3vw; 
    transition: 1s;
}

.product_image
{
    padding-top: 2.5vh;
    width: 20vw;

    margin-left: auto;
    margin-right: auto;
}


.pricing
{
    font-size: 3.4vw;
    color: var(--main);
    
    margin: 1vh 0 0; 
    transition: 1s;
    
    padding-bottom: 1.2vh;
}

.product_description
{
 font-size: 1.8vw;
 padding-left: 1vw;
}




@media ( max-width: 1000px)
{
    .product_option
    {
        font-size: 6vw;  
    }

        
    .pricing
    {
        font-size: 8.4vw;
    }


    .product_description
    {
     font-size: 5.8vw; 
    }

    .items
    {



    }

.items li{

    width: 100%;
    font-size: 20vw;    

    padding-bottom: 1vh;

    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

}