


#app-nav
{
    width: 100%;
 
    position:fixed;
        top: 0;
    overflow-y:hidden;
    overflow-x:hidden;

    margin: 0;
    padding: 0; 

    z-index: 10;
 
    
}
 

.alura_logo
{
    display: inline-block;
    
    width: 5%;

    margin-left: 5vmin;
} 

.nav-box
{ 
    margin-left: 0;
    padding-top: 1vmin;
  /*  opacity: 0.9;*/
    background-color: rgba(43, 38, 38, 0.6);
    transition: 0.7s;
}

.nav_space
{ 
    
}

.nav-box:hover
{
   /* opacity: 1 ;*/
background-color: rgb(70, 41, 41);
transition: 0.7s;
}

nav
{
    display: inline;
     
    visibility:visible;
    position: absolute;

    text-align: center;
    top: 5vmin;
    left: 10vmin;
    right: auto; 
}


nav li
{ 
    display: inline;
    text-transform:uppercase;   
 
 
    
}

nav li a
{
    text-decoration: none;
    
    font-weight:bolder;
    color: var(--deactivated);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(114, 75, 2);
    
    font-size:8vmin;
    
    transition: 1s;
    
    margin: 0px 0vmin 0px 15vmin;
    
}


nav li:hover a
{

    color:  var(--activated);
    font-size: 10vmin;
     

}
 
.scroll-down   
{
      visibility: hidden;
      opacity: 0;
  
}
  
.scrolled
{ 
  transition: 0.8s;
}
 