


section
{ 
}


.main_title
{
    font-size: 4vmin;

    color: var(--special);
}


.copy_button
{
    border: 1px solid var(--slightmark);

    border-radius: 10px;
    background-color: var(--secundary);

    padding: 1rem;
    color: var(--activated);

    transition: background-color 3s;
}

.copy_button:active
{

    transition: background-color 1s;
    background-color: var(--white);


}


.data-list
{
    margin-top: 4vh;
}

.data-list li
{
    margin: 1vh;
 
}

.optional
{
 color: var(--slightmark);
}

 

.obrigatory
{

    color: var(--activated);
}


 

.additional-info
{
    margin-top: 3vh;
    color: var(--special);
}

section
{
    border:  none;

    width: 70%;

    padding-left: 15%;
    padding-right: 15%;
 
    
}